<html>
<head>
    <title>BIDS IEM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.0/bootstrap3-typeahead.js"> </script>
</head>

<style>
* {
  font-family:'Lato'
}
path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font-size:0.75em;
  pointer-events: none;
  transform: translateX(-50%);
  width:100%;
  text-align:center;
}

#canvas-svg {
  z-index:1;
}

#search {
	margin-right: 100px;
}

#form {
	position: fixed;
	bottom: 10px;
  z-index:21;
}
h1 {
  font-weight:300;
}
aside.info {
  position:absolute;
  top:0;
  right:0;
  height:100%;
  background-color:#FFF;
  z-index:20;
  text-align:left;
  float:right;
  padding:0;
}
  .info-blurb {
    padding:2em 3em;
  }
.subtitle {
  width:100%;
  color:#000;
  font-weight:300;
}
.color-box {
  width:1em;
  height:1em;
  display:inline-block;
  float:none;
  margin-top:0.5em;
}
.color-label {
  text-align:center;
}
.text-label {
  font-size:1em;
  text-transform:uppercase;
  line-height:2em;
}
.color-label,.text-label {
  padding:0;
}
aside ul {
  padding:0;
  margin-bottom: 4em;
}
aside li, aside ul {
  list-style:none;
  float:left;
  width:100%;
}
  aside li {
    padding:1em 5em;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    cursor:pointer;
  }
  aside li + li {
    border-top:none;
  }

#focushref {
  display:block;
  text-align:center;
}
</style>
<script src="data.js"></script>
<body ng-app="myApp" ng-controller="myCtrl">
  <section class="col-lg-9">
    <div id="canvas-svg"></div>
  </section>
  <aside class="col-lg-3 info">
  <h1 class="title"> BIDS IEM Visualization </h1>

    <div class="form-group has-feedback">
    	<input type="text" class="form-control " id="search" data-provide="typeahead" />
    	<i class="glyphicon glyphicon-search form-control-feedback"></i>
    	</div>
          <div id="basefocus" ng-show="domainshow">

          <div class="info-blurb">
      <h3 class="subtitle">Topics</h2>
    </div>
    <ul>
        <li ng-click="catAllColorAlpha()">
        <div class="color-label col-md-2"><span class="color-box" style="background-color:rgb(218,165,32)"></span></div>
        <div class="text-label col-md-10"><span>All</span></div
>      </li>
      <li ng-click="catColorAlpha(category)" ng-repeat="category in allcategories"> <div class="color-label col-md-2"><span class="color-box" style="background-color:rgb({{colors[category][0]}},{{colors[category][1]}},{{colors[category][2]}})"></span></div>
        <div class="text-label col-md-10"><span>{{category}}</span></div></li>
    </ul>


    <h3 class="subtitle"> Top Institutions </h3>
    <ul>
    <li ng-click="focusVertex(degree[0])" ng-repeat="degree in topdegrees"> {{degree[0]}}</li>
    </ul>
    </div>
    <div id="domainfocus" ng-hide="domainshow">
      <h3 id="focusname"></h3>
      <p id="focusdesc"> </p>
      <a id="focushref" href="#"></a> <br />
      <h5> Top Categories </h5>
      <ul>
      <li ng-click="catColorAlpha(category)" ng-repeat="category in bestcategories"> <div class="color-label col-md-2"><span class="color-box" style="background-color:rgb({{colors[category][0]}},{{colors[category][1]}},{{colors[category][2]}})"></span></div>
        <div class="text-label col-md-10"><span>{{category}}</span></div></li>
      </ul>
      <h5> Nearest Neighbors </h5>
      <ul>
      <li ng-click="focusVertex(degree[0])" ng-repeat="degree in closest"> {{degree[0]}}</li>
      </ul>
      <a ng-click="domainshow=true">
        <span class="glyphicon glyphicon-menu-left"> Back</span>
      </a>
    </div>

  </aside>
  <script>
  var names = [];
    for (var i = 0; i < nodes.length; i++) {
    names.push(nodes[i].name);
    }
  var center = "";
  var force;
  var app = angular.module('myApp', []);
  var connectsTo = function(category1,category2){
    for(var i = 0; i< edges.length;i++){
      curr = edges[i];
      if((curr.source.name == category1 && curr.target.name==category2) || (curr.source.name == category2 && curr.target.name==category1)) return true;
    }
    return false;
  }
  app.controller('myCtrl', function($scope) {
  $scope.drawD3Document = function(nodes,links) {
    var WIDTH = $(document).width(), HEIGHT = $(document).height();
      force = d3.layout.force().nodes(d3.values(nodes)).links(links).size([ 9*WIDTH/12, HEIGHT ]).linkDistance(50).charge(-3000).on("tick", tick);
      var svg = d3.select("#canvas-svg").append("svg").attr("width", WIDTH).attr("height", HEIGHT);
      svg.append("svg:defs").selectAll("marker").data([ "end" ]).enter().append("svg:marker").attr("id", String).attr("viewBox", "0 -5 10 10").attr("refX", 15).attr("refY", -1.5).attr("markerWidth", 6).attr("markerHeight", 6).attr("orient", "auto").append("svg:path").attr("d", "M0,-5L10,0L0,5");
      var path = svg.append("svg:g").selectAll("path").data(force.links()).enter().append("svg:path").style('stroke-width',function(d){return d.thickness}).attr("class", "link");

      var node = svg.selectAll(".node").data(force.nodes()).enter().append("g").attr("class", "node").call(force.drag);
      node.append("circle").attr("r", 10);
      node.append("p").attr("x", 12).attr("dy", ".35em").text(function(d) {
          return d.name;
      });
      force.start();
      for (var i = 0; i < 100; ++i) force.tick();
      force.stop();
      function tick() {
          path.attr("d", function(d) {
              var dx = d.target.x - d.source.x, dy = d.target.y - d.source.y, dr = Math.sqrt(dx * dx + dy * dy);
              return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
          });
          node.attr("transform", function(d) {
            if(d.name==center){
              d.x = WIDTH/3;
              d.y = HEIGHT/2;
            }
              return "translate(" + d.x + "," + d.y + ")";
          });
      }
    };
    $scope.domainshow = true;
    $scope.closest = [];
    $scope.bestcategories = [];
    $scope.colors = colors;
    $scope.allcategories = [];
    for (var cat in categories) {
        if (categories.hasOwnProperty(cat)) {
          $scope.allcategories.push(cat);
        }
      }

    $scope.generateDegreeList = function(){
      var degrees = [];
      for(var i = 0; i < nodes.length;i++) degrees.push([nodes[i].name,0]);
      edges.forEach(function(curr){
        degrees[curr.source.index][1]+=curr.thickness;
        degrees[curr.target.index][1]+=curr.thickness;
      });
      degrees.sort(function(a,b){
        return b[1]-a[1];
      });
      return degrees;
    }
    $scope.generateCategoryDegreeList = function(category){
      var degrees = [];
      for(var i = 0; i < nodes.length;i++) degrees.push([nodes[i].name,0]);
      edges.forEach(function(curr){
        if(findBestCategory(curr.source.name)==category){
          degrees[curr.source.index][1]+=curr.thickness;
        }
        if(findBestCategory(curr.target.name)==category){
          degrees[curr.target.index][1]+=curr.thickness;
        }   
           });
      degrees.sort(function(a,b){
        return b[1]-a[1];
      });
      return degrees;
    }
    $scope.generateClosestDegreeList = function(closest){
      var degrees = [];
      for(var i = 0; i < nodes.length;i++) degrees.push([nodes[i].name,0]);
      edges.forEach(function(curr){
        if(curr.source.name==closest){
          degrees[curr.target.index][1]+=curr.thickness;
        }
        if(curr.target.name==closest){
          degrees[curr.source.index][1]+=curr.thickness;
        }
      });
      degrees.sort(function(a,b){
        return b[1]-a[1];
      });
      return degrees;
    }

    $scope.catColor = function(focusCategory){
      var rgb = colors[focusCategory]
      var checkVert = function(d){
        if (d.category == focusCategory){
          return "rgb(" + rgb[0] + "," + rgb[1] + "," + rgb[2] + ")"
        return "rgb(230, 230, 230)"
        }
      }
      var checkEdge = function(d){
        if (d.source.category == focusCategory || d.target.category == focusCategory){
          return "rgb(" + rgb[0] + "," + rgb[1] + "," + rgb[2] + ")"
        }
        return "rgb(230, 230, 230)"
          
      }
      focusOn(checkVert, checkEdge);
    }
    var focusOn = function(f1,f2){
      var svg = d3.select("#canvas-svg");
      var node = svg.selectAll(".node");
      node.select('circle').style('fill', f1);
      node.select('p').style('color',f1);
      var edges = svg.selectAll('.link');
      edges.style('stroke',f2);
    }

// Colors vertices and edges based on a specific vertex (non weighted <rgb>)
    var findBestCategory = function(focusNode){
      var bestcategory = "";
      var bestval = 0;
      for (var cat in categories) {
        if (categories.hasOwnProperty(cat)) {
          if(categories[cat][focusNode] > bestval){
            bestcategory = cat;
            bestval = categories[cat][focusNode];
          }
        }
      }
      return bestcategory;
    };

    
    var getSortedCategories = function(focusNode){
      var categorys = [];
      for (var cat in categories) {
        if (categories.hasOwnProperty(cat)) {
          categorys.push(cat);
        }
      }
      categorys.sort(function(a,b){
        return categories[b][focusNode] - categories[a][focusNode];
      });
      return categorys;
    }

    $scope.focusVertex = function(focusCharacter){
      center = focusCharacter;
      var fVertex = function(d){
        if(d.name==focusCharacter){
          force.start();
        $("#focusname").text(d.name);
        $("#focushref").attr("href", d.link);
        $("#focushref").text("Link to Main Page");
        $("#focusdesc").text(d.purpose);
        $scope.closest = $scope.generateClosestDegreeList(d.name).slice(0,3);
         $scope.bestcategories = getSortedCategories(focusCharacter).slice(0,2);
        $scope.domainshow = false;

          return findBestColor(d.name,false);
        }; 
        var rgb = findBestColor(d.name,false);
        rgb = rgb.substring(4,rgb.length-1);
        if(connectsTo(d.name,focusCharacter)){
          return "rgba("+rgb+", .5)"
        } 
        return "rgba("+rgb+", .2)";
      };
      var fEdge = function(d){
        if(d.source.name==focusCharacter || d.target.name==focusCharacter){
            return "rgb(0,0,0)";
        };
        return "rgb(230,230,230)";
      };
      focusOn(fVertex,fEdge);
      
    };
// Colors vertices and edges based on a category (non weighted <rgb>)
    $scope.focusCategory = function(focusCategory){
      var fVertex = function(d){
        if(d.category==focusCategory){
          return "rgb(0,0,0)";
        };
        return "rgb(230,230,230)";
      };
      var fEdge = function(d){
        if(d.source.category==focusCategory || d.target.category==focusCategory){
            return "rgb(0,0,0)";
        };
        return "rgb(230,230,230)";
      };
      focusOn(fVertex,fEdge);
    }

    //Colors all the nodes based on relationship to category (only one selected) 
    $scope.catColorAlpha = function(focusCategory){
      var dict = categories[focusCategory];
      var rgb = colors[focusCategory];
      var rgbaString = "rgba(" + rgb[0] + "," + rgb[1] + "," + rgb[2];
      var colorCalcVert = function(d){
       // We are going to add alpha in the loop
            return rgbaString + "," + dict[d.name] + ")";  
      }
      var colorCalcEdge = function(d){
        var alpha1 = d.source.name.toString();
        var alpha2 = d.target.name.toString();
        return  rgbaString + "," + Math.max(dict[alpha1], dict[alpha2]);
      }
      focusOn(colorCalcVert,colorCalcEdge);
      $scope.topdegrees = $scope.generateCategoryDegreeList(focusCategory).slice(0,5);

    };
    var findBestColor = function(name,rgba){
      var focusCategory = findBestCategory(name);
      var dict = categories[focusCategory];
      var rgb = colors[focusCategory];
      if(rgba){
          return "rgba(" + rgb[0] + "," + rgb[1] + "," + rgb[2]+","+categories[focusCategory][name]+")";
      }
      return "rgb(" + rgb[0] + "," + rgb[1] + "," + rgb[2]+")";
    };
    $scope.catAllColorAlpha = function(){
      var colorCalcVert = function(d){
       return findBestColor(d.name,true);
      }
      var colorCalcEdge = function(d){
        return findBestColor(d.source.name,true);

      }
      focusOn(colorCalcVert,colorCalcEdge);
      $scope.topdegrees = $scope.generateDegreeList().slice(0,5);
    };


    $("#search").typeahead({ source:names, afterSelect: function(val){$scope.focusVertex(val); $scope.$apply();} });
    $scope.drawD3Document(nodes,edges);
    $scope.catAllColorAlpha();
    $( ".node" ).contextmenu(function() {
      $scope.focusVertex(this.textContent);
      $scope.$apply();
      return false;
    });

});
</script>
</body>

</html>